:root {
    --cyan: hsl(178, 100%, 50%);
}

/* niby tutaj chcemy zawsze m0 p0, box-sizing: border-box zeby miec kontrole nad wszystkim */
* {
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
}

.container {
    width: 350px;
    padding: 30px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
}

.container .main_image {
    position: relative;
}

.container .main_image div {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(178, 100%, 50%, 50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.container .main_image div:hover {
    opacity: 1;
    cursor: pointer;
}

.image_eth {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.eth {
    display: flex;
    justify-content: space-between;
}

.eth div {
    display: flex;
    align-items: center;
}

.container img {
    margin-right: 7px;
}

hr {
    border: 1px solid hsl(215, 32%, 27%);
}

h1 {
    font-size: 25px;
    font-weight: 600;
    transition: color 0.3s;
}

h1:hover {
    color: var(--cyan);
}

.container p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.eth .cyan_eth {
    color: var(--cyan);
    font-weight: 600;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_img {
    margin-right: 10px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

a {
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--cyan);
}

.attribution {
    margin-top: 30px;
}

.attribution a {
    color: rgb(231, 111, 249);
    transition: color 0.3s;
}

.attribution a:hover {
    color: var(--cyan);
}